[submodule "keycastr/Externals/ShortcutRecorder"]
	path = keycastr/Externals/ShortcutRecorder
	url = git@github.com:vtl3004/ShortcutRecorder.git
[submodule "keycastr/Externals/Sparkle"]
	path = keycastr/Externals/Sparkle
	url = git@github.com:vtl3004/Sparkle.git
